// Filename: internal/mailer/templates/employee_welcome.tmpl


{{define "subject"}}Welcome to Craboo Bank!{{end}}

{{define "plainBody"}}
Hi,

Thanks for joining the Craboo Bank team. We're excited to have you on board!

You have been hired as a {{.Account_type}} and your account has been created with the following details:

    - Your user SSID number is {{.SSID}}. 
    - Your username is {{.Username}}.
    - Your email address is {{.Email}}.
    - Your account was created at {{.CreatedAt}}.
    - Your password was set at {{.PasswordSetAt}}.


Thanks,

The Craboo Bank Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for joining the Craboo Bank team. We're excited 
       to have you on board!</p>
    <p>
        You have been hired as a {{.Account_type}} and your account has been created with the following details:

        - Your user SSID number is {{.SSID}}. <br>
        - Your username is {{.Username}}. <br>
        - Your email address is {{.Email}}. <br>
        - Your account was created at {{.CreatedAt}}. <br>
        - Your password was set at {{.PasswordSetAt}}. <br>
    </p>
    <p>Thanks,</p>
    <p>The Craboo Bank Team</p>
</body>

</html>
{{end}}
