// Filename: internal/mailer/templates/employee_welcome.tmpl


{{define "subject"}}Welcome to Craboo Bank!{{end}}

{{define "plainBody"}}
Hi,

Thanks for joining the Craboo Bank team. We're excited to have you on board!

You have been hired as a {{.user.Account_type}} and your account has been created with the following details:

    - Your user SSID number is {{.user.SSID}}. 
    - Your username is {{.user.Username}}.
    - Your email address is {{.user.Email}}.
    - Your account was created at {{.user.CreatedAt}}.
    - Your password was set at {{.user.PasswordSetAt}}.

Thanks,

The Craboo Bank Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for joining the Craboo Bank team. We're excited 
       to have you on board!</p>
    <p>
        You have been hired as a {{.user.Account_type}} and your account has been created with the following details:

        - Your user SSID number is {{.user.SSID}}. <br>
        - Your username is {{.user.Username}}. <br>
        - Your email address is {{.user.Email}}. <br>
        - Your account was created at {{.user.CreatedAt}}. <br>
        - Your password was set at {{.user.PasswordSetAt}}. <br>
    </p>
    <p>
        Please send a request to the `PUT /v1/users/activated` endpoint with 
        the  following JSON body to activate your account:

        {"token": "{{.activationToken}}"}

        Please note that this is a one-time use token and it will expire in 3 days.
    </p>
    <p>Thanks,</p>
    <p>The Craboo Bank Team</p>
</body>

</html>
{{end}}
