{{define "subject"}}Welcome to Craboo Bank!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Craboo Bank account. We're excited to have you on board!

For future reference:
    - Your user SSID number is {{.SSID}}. 
    - Your username is {{.Username}}.
    - Your email address is {{.Email}}.
    - Your account was created at {{.CreatedAt}}.
    - Your password was set at {{.PasswordSetAt}}.

Please send a request to the `PUT /v1/users/activated` endpoint with 
the following JSON body to activate your account:

{"token": "{{.activationToken}}"}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,

The Craboo Bank Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Craboo Bank account. We're excited 
       to have you on board!</p>
    <p>
        For future reference:
        - Your user SSID number is {{.SSID}}. <br>
        - Your username is {{.Username}}. <br>
        - Your email address is {{.Email}}. <br>
        - Your account was created at {{.CreatedAt}}. <br>
        - Your password was set at {{.PasswordSetAt}}.<br>
    </p>

    <p>Please send a request to the <code>PUT /api/users/activated</code> 
    endpoint with the following JSON body to activate your account:</p>

    <pre><code>
    {"token": "{{.activationToken}}"}
    </code></pre>

    <p>Please note that this is a one-time use token and it will 
       expire in 3 days.</p>

    <p>Thanks,</p>
    <p>The Craboo Bank Team</p>
</body>

</html>
{{end}}